.navIcon {
  transition: all 1s ease 0s;
  &:hover {
    transform: scale(1.2);
  }
}

.clip {
  -webkit-clip-path: polygon(18px 0%, 100% 0%, calc(100% - 18px) 100%, 0% 100%);
  clip-path: polygon(18px 0%, 100% 0%, calc(100% - 18px) 100%, 0% 100%);
}

.clip_right {
  -webkit-clip-path: polygon(
    calc(100% - 48px) 0,
    100% 48px,
    100% 100%,
    0 100%,
    0 0
  );
  clip-path: polygon(calc(100% - 48px) 0, 100% 48px, 100% 100%, 0 100%, 0 0);
}
